<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Yay, sucess</h1>
    <img src = "{{img}}">
    <form action = '/dir/download' method = 'POST'>
        {% csrf_token %}
        <input value = "{{link}}">
        <select>
            {% for option in options %}
                <option name = 'option'>{{ option }}</option>
            {% endfor %}
        </select>
        <input type = "submit">
    </form>
    
</body>
</html>